body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  padding-left: 15px;
  align-items: center;
  box-shadow: 0px 0px 8px 0px rgb(126, 147, 252);
  border-radius: 0px 0px 10px 10px;
}

header h1 {
  margin: 0;
}

.utilitarios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
}

.utilitarios a {
  text-decoration: none;
  color: black;
}

.logout {
  width: 70px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgb(126, 147, 252);
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.logout:hover {
  background-color: #687AD4;
}

main {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.botao {
  width: 150px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgb(126, 147, 252);
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

.botao:hover {
  background-color: #687AD4;
}

.test {
  width: 100%;
}

.editar {
  width: 150px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgb(126, 147, 252);
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

.editar:hover {
  background-color: #687AD4;
}