{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BookVerse{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <div class="inicio">
            <h1>Bem vindo ao BookVerse!</h1>
            <p>A biblioteca pessoal virtual feita para você.</p>
        </div>
        <div class="cadastro">
            <p>Não tem uma conta? <a href="{% url 'user_generate' %}">Cadastre-se</a></p>
        </div>
    </header>

    {% block login_form %}
    <div class="login-form">
        <h2>Entrar</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Entrar</button>
        </form>
    </div>
    {% endblock %}
</body>

</html>