<!DOCTYPE html>
<html>

<head>
  <title>{{ wishlist_item.title }}</title>
</head>

<body>
  <h1>Wishlist Item: {{ wishlist_item.title }}</h1>
  <p>Author: {{ wishlist_item.author }}</p>
  <p>Genre: {{ wishlist_item.genre }}</p>
  <p>Description: {{ wishlist_item.description }}</p>
  <p>Priority: {{ wishlist_item.priority}}</p>
  <a href="{% url 'wishlist-update' wishlist_item.id %}">Edit</a>
  <a href="{% url 'wishlist-delete' wishlist_item.id %}">Delete</a>
  <a href="{% url 'wishlist-list' %}">Back to list</a>
</body>

</html>